body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #5E9ABF;
    color: #050502;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: solid 1px;
    border-radius: 25px;
    max-width: 700px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 10px;
}

.holder {}

.entry {}

#entryHolder {
    color: #000000;
}

#date {}

#temp {}

#content {}

.headline {
    font-size: 2em;
    color: #010440;
}

.title {}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    /* display: block; */
    height: 60px;
    width: 320px;
    background: #e8f3d3;
    color: #00994d;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

button:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

button:active {
    position: relative;
    top: 1px;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 300px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}